/old
/target
/eclipse-target
/override.properties
/override_log4j.xml
/deploy.sh
/foo.sh
/bin
/oscar.properties
/myoscar_client_override.xml
/velocity.log
oscar.iml
.idea
/override_config.xml
/oscar_data_dir
src/test/resources/over_ride_config.properties
src/test/resources/over_ride_config.properties.template
src/main/resources/uiResources_*.properties
*.DS_Store
*.scp
/out
/.run*
/catalina_base*
*.iml
/catalina_base/*
.settings/
.vscode/
tmp/
.aider*
/hs_err_pid53473.log
/hs_err_pid53710.log
/hs_err_pid73647.log
/hs_err_pid74180.log