<?xml version="1.0" encoding="UTF-8"?>
<!-- <beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" default-autowire="no"> -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
      
    <bean id="propertyConfigurer" class="org.oscarehr.common.OscarPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:oscar_mcmaster.properties</value>
			</list>
		</property>
	</bean>
	
	<!-- ========================= SCHEDULED JOBS ========================= -->
	 <bean id="cbiDataSubmissionJob" class="ca.openosp.openo.util.CBIFormDataSubmissionJob" />

    <!-- Define the scheduled executor factory bean -->
    <bean id="schedulerCBI" class="org.springframework.scheduling.concurrent.ScheduledExecutorFactoryBean">
        <property name="scheduledExecutorTasks">
            <list>
                <!-- Configure the scheduled task -->
                <bean class="org.springframework.scheduling.concurrent.ScheduledExecutorTask">
                    <property name="delay" value="200000" />
                    <property name="period" value="${CBI_JOB_INTERVAL}" />
                    <property name="runnable" ref="cbiDataSubmissionJob" />
                </bean>
            </list>
        </property>
    </bean>
		
</beans>