<?xml version="1.0" encoding="UTF-8"?>
<!-- <beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:task="http://www.springframework.org/schema/task"
	   xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
				http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
       default-autowire="no"> -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/task 
                           http://www.springframework.org/schema/task/spring-task.xsd
                           http://www.springframework.org/schema/aop 
                           http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="no">



	<!--
		load properties from additional property files; oscar.properties is
		already loaded
	-->
	<aop:aspectj-autoproxy proxy-target-class="true"/>

	<bean class="org.ServletContextConfig"/>
    <!-- Enable annotation-driven transaction management with CGLIB proxies -->
    <tx:annotation-driven proxy-target-class="true"/>
	<bean id="propertyConfigurer" class="ca.openosp.openo.common.OscarPropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:oscar_mcmaster.properties</value>
			</list>
		</property>
	</bean>

	<!-- setup JPA -->
	<import resource="classpath:spring_jpa.xml" />

	<!-- setup hibernate -->
	<import resource="classpath:spring_hibernate.xml" />

	<!-- setup managers -->
	<import resource="classpath:spring_managers.xml" />

	<!-- setup CXF -->
	<import resource="classpath:spring_ws.xml" />
	<!-- <context:component-scan base-package="ca.openosp.openo.common.dao" /> -->
	
	<bean id="hl7HandlerMSHMappingDao" class="ca.openosp.openo.common.dao.HL7HandlerMSHMappingDaoImpl" autowire="byName" />
	<!-- hibernated DAO -->
    <bean id="gstControlDao" class="ca.openosp.openo.billing.CA.dao.GstControlDaoImpl" autowire="byName" />
	<bean id="programDao" class="ca.openosp.openo.PMmodule.dao.ProgramDaoImpl" autowire="byName" />
	<bean id="programQueueDao" class="ca.openosp.openo.PMmodule.dao.ProgramQueueDaoImpl" autowire="byName" />
	<bean id="clientReferralDAO" class="ca.openosp.openo.PMmodule.dao.ClientReferralDAOImpl" autowire="byName" />
	<bean id="agencyDao" class="ca.openosp.openo.PMmodule.dao.AgencyDaoImpl" autowire="byName" />
	<bean id="admissionDao" class="ca.openosp.openo.common.dao.AdmissionDaoImpl" autowire="byName" />
	<bean id="providerDao" class="ca.openosp.openo.PMmodule.dao.ProviderDaoImpl" autowire="byName" />
	<bean id="streetHealthDao" class="ca.openosp.openo.PMmodule.dao.StreetHealthDaoImpl" autowire="byName" />
	<bean id="otherIdDao" class="ca.openosp.openo.common.dao.OtherIdDAOImpl" autowire="byName" />

	<bean id="CaseManagementIssueDAO" class="ca.openosp.openo.casemgmt.dao.CaseManagementIssueDAOImpl" autowire="byName" />
	<bean id="caseManagementIssueDAO" class="ca.openosp.openo.casemgmt.dao.CaseManagementIssueDAOImpl" autowire="byName" />
	<bean id="CaseManagementNoteDAO" class="ca.openosp.openo.casemgmt.dao.CaseManagementNoteDAOImpl" autowire="byName" />
	<bean id="caseManagementNoteDAO" class="ca.openosp.openo.casemgmt.dao.CaseManagementNoteDAOImpl" autowire="byName" />
	<bean id="CaseManagementTmpSaveDao" class="ca.openosp.openo.common.dao.CaseManagementTmpSaveDaoImpl" autowire="byName" />
	<bean id="caseManagementTmpSaveDao" class="ca.openosp.openo.common.dao.CaseManagementTmpSaveDaoImpl" autowire="byName" />
	<bean id="CaseManagementNoteExtDAO" class="ca.openosp.openo.casemgmt.dao.CaseManagementNoteExtDAOImpl" autowire="byName" />
	<bean id="CaseManagementNoteLinkDAO" class="ca.openosp.openo.casemgmt.dao.CaseManagementNoteLinkDAOImpl" autowire="byName" />
	<bean id="CaseManagementCPPDAO" class="ca.openosp.openo.casemgmt.dao.CaseManagementCPPDAOImpl" autowire="byName" />
	<bean id="queueDao" class="ca.openosp.openo.common.dao.QueueDaoImpl" autowire="byName" />
	<bean id="waitingListNameDao" class="ca.openosp.openo.common.dao.WaitingListNameDaoImpl" autowire="byName" />
	
	
	
	 <bean id="appointmentArchiveDao" class="ca.openosp.openo.common.dao.AppointmentArchiveDaoImpl" autowire="byName" />
	<bean id="appointmentTypeDao" class="ca.openosp.openo.common.dao.AppointmentTypeDaoImpl" autowire="byName" />
	<bean id="billingONCHeader1Dao" class="ca.openosp.openo.common.dao.BillingONCHeader1DaoImpl" autowire="byName" />
	
	<bean id="DxDao" class="ca.openosp.openo.common.dao.DxDaoImpl" autowire="byName" />
	<bean id="CasemgmtNoteLockDao" class="ca.openosp.openo.common.dao.CasemgmtNoteLockDaoImpl" autowire="byName" />
	
	<bean id="AllergyDao" class="ca.openosp.openo.common.dao.AllergyMergedDemographicDaoImpl" autowire="byName" />
	<bean id="allergyDao" class="ca.openosp.openo.common.dao.AllergyMergedDemographicDaoImpl" autowire="byName" />
	<bean id="secRoleDao" class="ca.openosp.openo.common.dao.SecRoleDaoImpl" autowire="byName" />
	<bean id="IssueDAO" class="ca.openosp.openo.casemgmt.dao.IssueDAOImpl" autowire="byName" />
	<bean id="secroleDao" class="com.quatro.dao.security.SecroleDaoImpl" autowire="byName"/>
	<bean id="RoleProgramAccessDAO" class="ca.openosp.openo.casemgmt.dao.RoleProgramAccessDAOImpl" autowire="byName" />
	<bean id="clientImageDAO" class="ca.openosp.openo.casemgmt.dao.ClientImageDAOImpl" autowire="byName" />
	<bean id="programProviderDAO" class="ca.openosp.openo.PMmodule.dao.ProgramProviderDAOImpl" autowire="byName" />
	<bean id="programFunctionalUserDAO" class="ca.openosp.openo.PMmodule.dao.ProgramFunctionalUserDAOImpl" autowire="byName" />
	<bean id="programAccessDAO" class="ca.openosp.openo.PMmodule.dao.ProgramAccessDAOImpl" autowire="byName" />
	<bean id="defaultRoleAccessDAO" class="ca.openosp.openo.PMmodule.dao.DefaultRoleAccessDAOImpl" autowire="byName" />
	<bean id="programClientStatusDAO" class="ca.openosp.openo.PMmodule.dao.ProgramClientStatusDAOImpl" autowire="byName" />
	<bean id="programTeamDAO" class="ca.openosp.openo.PMmodule.dao.ProgramTeamDAOImpl" autowire="byName" />
	<bean id="bedProgramDao" class="org.caisi.dao.BedProgramDaoImpl" autowire="byName" />
	<bean id="demographicDao" class="ca.openosp.openo.common.dao.DemographicDaoImpl" autowire="byName" />
	<bean id="secUserRoleDao" class="ca.openosp.openo.PMmodule.dao.SecUserRoleDaoImpl" autowire="byName"/>
	<bean id="programSignatureDao" class="ca.openosp.openo.PMmodule.dao.ProgramSignatureDaoImpl" autowire="byName" />
	<bean id="programClientRestrictionDAO" class="ca.openosp.openo.PMmodule.dao.ProgramClientRestrictionDAOImpl" autowire="byName" />
	<bean id="UserPropertyDAO" class="ca.openosp.openo.common.dao.UserPropertyDAOImpl" autowire="byName" />
	<!-- <bean id="demographicDao" class="ca.openosp.openo.common.dao.DemographicDaoImpl" autowire="byName" /> -->
	<bean id="clinicDAO" class="ca.openosp.openo.common.dao.ClinicDAOImpl" autowire="byName" />
	<bean id="dataExportDAO" class="ca.openosp.openo.common.dao.DataExportDaoImpl" autowire="byName" />
	<bean id="siteDao" class="ca.openosp.openo.common.dao.SiteDaoImpl" autowire="byName" />
	<bean id="BillingmasterDAO" class="ca.openosp.openo.oscarBilling.ca.bc.data.BillingmasterDAO" autowire="byName" />
	<bean id="BillingPreferencesDAO" class="ca.openosp.openo.oscarBilling.ca.bc.data.BillingPreferencesDAO" autowire="byName" />
	<bean id="PrivateBillTransactionDAO" class="ca.openosp.openo.oscarBilling.ca.bc.data.PrivateBillTransactionsDAO" autowire="byName" />
	<bean id="SupServiceCodeAssocDAO" class="ca.openosp.openo.oscarBilling.ca.bc.data.SupServiceCodeAssocDAO" autowire="byName" />
	<bean id="BillingreferralDAO" class="ca.openosp.openo.common.dao.BillingreferralDaoImpl" autowire="byName" />
	<bean id="DxresearchDAO" class="ca.openosp.openo.common.dao.DxresearchDAOImpl" autowire="byName" />
	<bean id="icd9Dao" class="ca.openosp.openo.common.dao.Icd9DaoImpl" autowire="byName" />
	<bean id="defaultIssueDao" class="org.caisi.dao.DefaultIssueDaoImpl" autowire="byName" />
	
    <bean id="MacroDAO" class="ca.openosp.openo.eyeform.dao.MacroDaoImpl" autowire="byName" />
	<bean id="rourke2009Dao" class="ca.openosp.openo.common.dao.forms.Rourke2009DAO" autowire="byName" />
	<bean id="ocanSubmissionLogDao" class="ca.openosp.openo.PMmodule.dao.OcanSubmissionLogDaoImpl" autowire="byName" />

	<bean id="lookupDao" class="com.quatro.dao.LookupDaoImpl" autowire="byName" />
	<bean id="documentDao" class="ca.openosp.openo.common.dao.DocumentMergeDemographicDAOImpl" autowire="byName" />
	<bean id="userAccessDao" class="com.quatro.dao.security.UserAccessDaoImpl" autowire="byName" />
	<bean id="demographicExtDao" class="ca.openosp.openo.common.dao.DemographicExtDaoImpl" autowire="byName" />
	<bean id="providerDefaultProgramDao" class="ca.openosp.openo.common.dao.ProviderDefaultProgramDaoImpl" autowire="byName" />
	<bean id="providerInboxRoutingDAO" class="ca.openosp.openo.common.dao.ProviderInboxRoutingDaoImpl" autowire="byName"/>
	<bean id="ProviderLabRoutingFavoritesDao" class="ca.openosp.openo.common.dao.ProviderLabRoutingFavoritesDaoImpl" autowire="byName"/>

        <bean id="queueDocumentLinkDAO" class="ca.openosp.openo.common.dao.QueueDocumentLinkDaoImpl" autowire="byName"/>

	<bean id="caseloadDao" class="ca.openosp.openo.common.dao.CaseloadDaoImpl" autowire="byName" />
	<bean id="inboxResultsDao" class="ca.openosp.openo.common.dao.InboxResultsDaoImpl" autowire="byName" />
    <bean id="inboxResultsRepository" class="ca.openosp.openo.common.dao.InboxResultsRepositoryImpl" autowire="byName" />
    <bean id="securityDao" class="ca.openosp.openo.common.dao.SecurityDaoImpl" autowire="byName" />
    <bean id="oscarLogDao" class="ca.openosp.openo.common.dao.OscarLogDaoImpl" autowire="byName" />
    <bean id="providerPreferenceDao" class="ca.openosp.openo.common.dao.ProviderPreferenceDaoImpl" autowire="byName" />
    <bean id="EFormDao" class="ca.openosp.openo.common.dao.EFormDaoImpl" autowire="byName" />
    <bean id="encounterFormDao" class="ca.openosp.openo.common.dao.EncounterFormDaoImpl" autowire="byName" />
    <bean id="systemMessageDao" class="ca.openosp.openo.common.dao.SystemMessageDaoImpl" autowire="byName" />
    <bean id="billingPaymentTypeDao" class="ca.openosp.openo.common.dao.BillingPaymentTypeDaoImpl" autowire="byName" />
    <bean id="billingONPaymentDao" class="ca.openosp.openo.common.dao.BillingONPaymentDaoImpl" autowire="byName" />
	

	<!-- Dao classes that implement OscarSuperDao -->
	<bean id="providerSuperDao" class="ca.openosp.openo.dao.ProviderDao" autowire="byName" />
	

	<bean id="eChartDao" class="ca.openosp.openo.common.dao.EChartDaoImpl" autowire="byName" />
	<bean id="encounterWindowDao" class="ca.openosp.openo.common.dao.EncounterWindowDaoImpl" autowire="byName" />

	<!-- OSCAR Desicion Support -->
	<bean id="dsService" class="ca.openosp.openo.decisionSupport.service.DSServiceMyDrugref">
	</bean>

	<!--Container for holding preventions -->
	<bean id="preventionMgr" class="ca.openosp.openo.provider.model.PreventionManager"></bean>

	<!-- OcanDataProcessor is used to create the OCAN xml submission file based on intake data -->
	<bean id="ocanDataProcessor" class="ca.openosp.openo.ocan.service.OcanDataProcessor">
		<property name="serviceOrganizationNumber" value="1001" />
		<property name="submissionFileLocation" value="C:/TEMP/ocan_test" />
	</bean>

	<!-- OscarSuperManager manager provides business logic facade for jsp layer -->
	<bean id="oscarSuperManager" class="ca.openosp.openo.service.OscarSuperManagerImpl" autowire="byName" init-method="init"/>

	<bean id="lookupManager" class="com.quatro.service.LookupManagerImpl" autowire="byName">
		<property name="lookupDao" ref="lookupDao" />
	</bean>
	<bean id="userAccessManager" class="com.quatro.service.security.UserAccessManagerImpl" autowire="byName">
		<property name="userAccessDao" ref="userAccessDao" />
	</bean>

	<!-- configure the available measurement flow sheets -->
	<bean id="measurementTemplateFlowSheet" class="ca.openosp.openo.oscarEncounter.oscarMeasurements.MeasurementTemplateFlowSheetConfig">
		<property name="flowSheets">
			<list>
				<!--value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/diabetesFlowsheet.xml</value-->
				<!--value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/hypertensionFlowsheet.xml</value-->
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/hivFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/inrFlowsheet.xml</value>
				<!--value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdChf.xml</value-->
				<!--value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/inrFlowsheet2.xml</value-->


				<!--<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/physicalFunctionFlowsheet.xml</value -->
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdAsthmaFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdCOPDFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdChf.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdHypertensionFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdDiabetesFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/diabetesQueensFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/ckdFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/painAssistant.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/periodicHealthVisit.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/healthTracker.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/hepCFlowsheet.xml</value>
				
			</list>
		</property>
	</bean>

	<!-- managers  -->
	<bean id="agencyManager" class="ca.openosp.openo.PMmodule.service.AgencyManagerImpl" autowire="byName" />
	<bean id="facilityMessageManager" class="org.caisi.service.FacilityMessageManagerImpl">
	</bean>

	<!-- Manager classes -->
	<bean id="programQueueManager" class="ca.openosp.openo.PMmodule.service.ProgramQueueManagerImpl" autowire="byName" />
	<bean id="admissionManager" class="ca.openosp.openo.PMmodule.service.AdmissionManagerImpl" autowire="byType" />
	
	<bean id="caseManagementManager" class="ca.openosp.openo.casemgmt.service.CaseManagementManagerImpl" autowire="byName">
		<property name="caseManagementNoteDAO" ref="CaseManagementNoteDAO" />
		<property name="caseManagementNoteExtDAO" ref="CaseManagementNoteExtDAO" />
		<property name="caseManagementNoteLinkDAO" ref="CaseManagementNoteLinkDAO" />
		<property name="caseManagementIssueDAO" ref="CaseManagementIssueDAO" />
		<property name="caseManagementTmpSaveDao" ref="CaseManagementTmpSaveDao" />
		<property name="caseManagementCPPDAO" ref="CaseManagementCPPDAO" />
		<property name="issueDAO" ref="IssueDAO" />
		<property name="demographicDao" ref="demographicDao" />
		<property name="roleProgramAccessDAO" ref="RoleProgramAccessDAO" />
		
		<property name="userPropertyDAO" ref="UserPropertyDAO" />
		<property name="rolesManager" ref="rolesManager" />
		<property name="admissionManager" ref="admissionManager" />
		<property name="enabled" value="${casemgmt.note.password.enabled}" />
		<property name="programManager" ref="programManager" />
		<property name="dxresearchDAO" ref="DxresearchDAO" />
		<property name="programProviderDao" ref="programProviderDAO" />
		<property name="programAccessDAO" ref="programAccessDAO" />
		<property name="eChartDao" ref="eChartDao"/>
		<property name="encounterWindowDao" ref="encounterWindowDao"/>
		
		<property name="appointmentArchiveDao" ref="appointmentArchiveDao" />
		<property name="dxDao" ref="DxDao" />
	</bean>

	<bean id="ClientImageManager" class="ca.openosp.openo.casemgmt.service.ClientImageManagerImpl" autowire="byName" />
	<bean id="programManager" class="ca.openosp.openo.PMmodule.service.ProgramManagerImpl" autowire="byName">
		<property name="enabled" value="${pmm.refer.temporaryAdmission.enabled}" />
	</bean>
	<bean id="clientManager" class="ca.openosp.openo.PMmodule.service.ClientManagerImpl" autowire="byName">
		<property name="demographicDao" ref="demographicDao" /><property name="clientReferralDAO" ref="clientReferralDAO" />
		<property name="programQueueManager" ref="programQueueManager" />
		<property name="admissionManager" ref="admissionManager" />
		<property name="clientRestrictionManager" ref="clientRestrictionManager" />
		<property name="demographicExtDao" ref="demographicExtDao" />
		<property name="outsideOfDomainEnabled" value="${pmm.client.search.outside.of.domain.enabled}" />
	</bean>
	<bean id="infirmBedProgramManager" class="org.caisi.service.InfirmBedProgramManagerImpl" autowire="byName">
		<property name="programProviderDAOT" ref="programProviderDAO" />
		<property name="demographicDao" ref="demographicDao" />
		<property name="providerDefaultProgramDao" ref="providerDefaultProgramDao" />
	</bean>

	
 	<bean id="demographicManagerT" class="org.caisi.service.DemographicManagerTickler">
		<property name="demographicDao" ref="demographicDao" />
	</bean>
	<bean id="preparedTicklerManagerT" class="org.caisi.tickler.prepared.PreparedTicklerManagerImpl" scope="singleton" />
	<bean id="providerManager" class="ca.openosp.openo.PMmodule.service.ProviderManagerImpl" autowire="byName" />
	<bean id="clientRestrictionManager" class="ca.openosp.openo.PMmodule.service.ClientRestrictionManagerImpl" autowire="byName" />
	
	<!-- Admin Start -->
	<bean id="secobjprivilegeDao" class="com.quatro.dao.security.SecobjprivilegeDaoImpl" autowire="byName" />
	<bean id="secProviderDao" class="com.quatro.dao.security.SecProviderDaoImpl" autowire="byName" />
	<bean id="secuserroleDao" class="com.quatro.dao.security.SecuserroleDaoImpl" autowire="byName" />
        <bean id="secObjectNameDao" class="com.quatro.dao.security.SecObjectNameDaoImpl" autowire="byName"/>

	<bean id="rolesManager" class="com.quatro.service.security.RolesManagerImpl" autowire="byName">
		<property name="secroleDao" ref="secroleDao" />
		<property name="secobjprivilegeDao" ref="secobjprivilegeDao" />
	</bean>

	<bean id="drilldownQueryHandler" class="ca.openosp.openo.dashboard.handler.DrilldownQueryHandler" autowire="byName" />
	<bean id="indicatorQueryHandler" class="ca.openosp.openo.dashboard.handler.IndicatorQueryHandler" autowire="byName" />
	<bean id="exportQueryHandler" class="ca.openosp.openo.dashboard.handler.ExportQueryHandler" autowire="byName" />
		
	<bean id="extPrintMeasurements" class="ca.openosp.openo.casemgmt.service.MeasurementPrint" autowire="byName"/>
	<bean id="extPrintOcularProcedures" class="ca.openosp.openo.eyeform.web.OcularProcPrint" autowire="byName"/>
	<bean id="extPrintSpecsHistory" class="ca.openosp.openo.eyeform.web.SpecsHistoryPrint" autowire="byName"/>

	<!-- Encounter Form DAO -->
	<bean id="Rourke2009DAO" class="ca.openosp.openo.common.dao.forms.Rourke2009DAO" autowire="byName"/>
	<bean id="FormBCAR2020Dao" class="ca.openosp.openo.common.dao.forms.FormBCAR2020Dao" autowire="byName"/>
	<bean id="FormBCAR2020DataDao" class="ca.openosp.openo.common.dao.forms.FormBCAR2020DataDao" autowire="byName"/>
	<bean id="FormBCAR2020TextDao" class="ca.openosp.openo.common.dao.forms.FormBCAR2020TextDao" autowire="byName"/>

	<!-- Bed Program DAO (Used for Accessing Caseload in the dashboard)-->
	<!-- <bean id="bedProgramDao" class="org.caisi.dao.BedProgramDaoImpl" autowire="byName">
    	<property name="sessionFactory" ref="sessionFactory"/>
	</bean> -->


	<!--<bean id="preventionMgr" class="ca.openosp.openo.managers.PreventionManagerImpl"></bean>-->
	<!-- <bean id="allergyManager" class="ca.openosp.openo.managers.AllergyManagerImpl"></bean>
	<bean id="programManager2" class="ca.openosp.openo.managers.ProgramManager2Impl"></bean>
	<bean id="measurementManager" class="ca.openosp.openo.managers.MeasurementManagerImpl"></bean>
	<bean id="prescriptionManager" class="ca.openosp.openo.managers.PrescriptionManagerImpl"></bean>
	<bean id="formsManager" class="ca.openosp.openo.managers.FormsManagerImpl"></bean>
	<bean id="drugDispensingManager" class="ca.openosp.openo.managers.DrugDispensingManagerImpl"></bean>
	<bean id="drugProductManager" class="ca.openosp.openo.managers.DrugProductManagerImpl"></bean>
	<bean id="rxManager" class="ca.openosp.openo.managers.RxManagerImpl"></bean> -->
	<!-- <bean id="drugConverter" class="ca.openosp.openo.conversion.rest.ws.DrugConverterImpl"></bean>
	<bean id="prescriptionConverter" class="ca.openosp.openo.conversion.rest.ws.PrescriptionConverterImpl"></bean>
	<bean id="favoriteConverter" class="ca.openosp.openo.conversion.rest.ws.FavoriteConverterImpl"></bean> -->
	<!-- <bean id="consultationManager" class="ca.openosp.openo.managers.ConsultationManagerImpl"></bean>
	<bean id="demographicManager" class="ca.openosp.openo.managers.DemographicManagerImpl"></bean>
	<bean id="appManager" class="ca.openosp.openo.managers.AppManagerImpl"></bean>
	<bean id="billingManager" class="ca.openosp.openo.managers.BillingManagerImpl"></bean> -->
	<!--<bean id="admissionManager" class="service.PMmodule.AdmissionManagerImpl"></bean> -->
	<!-- <bean id="drugLookUp" class="ca.openosp.openo.managers.DrugLookUp"></bean>
	<bean id="documentManager" class="ca.openosp.openo.managers.DocumentManagerImpl"></bean>
	<bean id="scheduleManager" class="ca.openosp.openo.managers.ScheduleManagerImpl"></bean>
	<bean id="appointmentManager" class="ca.openosp.openo.managers.AppointmentManagerImpl"></bean> -->
	<!--<bean id="providerManager" class="service.PMmodule.ProviderManagerImpl"></bean>-->
	<!-- <bean id="preferenceManager" class="ca.openosp.openo.managers.PreferenceManagerImpl"></bean>
	<bean id="demographicSetsManager" class="ca.openosp.openo.managers.DemographicSetsManagerImpl"></bean>
	<bean id="eFormReportToolManager" class="ca.openosp.openo.managers.EFormReportToolManagerImpl"></bean>
	<bean id="oscarJobManager" class="ca.openosp.openo.managers.OscarJobManagerImpl"></bean>
	<bean id="ticklerManager" class="ca.openosp.openo.managers.TicklerManagerImpl"></bean> -->
	<!-- <bean id="ticklerConverter" class="ca.openosp.openo.conversion.rest.ws.TicklerConverter"></bean>
<bean id="dSService" class="ca.openosp.openo.service.decisionSupport.DSService"></bean> -->
<!--<bean id="programManager" class="service.PMmodule.ProgramManagerImpl"></bean>-->
<!-- <bean id="messagingManager" class="ca.openosp.openo.managers.MessagingManagerImpl"></bean>
<bean id="dashboardManager" class="ca.openosp.openo.managers.DashboardManagerImpl"></bean>
<bean id="oscarLogManager" class="ca.openosp.openo.managers.OscarLogManagerImpl"></bean>
<bean id="patientConsentManager" class="ca.openosp.openo.managers.PatientConsentManagerImpl"></bean> -->
<!-- <bean id="messagingConverter" class="ca.openosp.openo.conversion.rest.ws.MessagingConverter"></bean> -->
<!-- <bean id="labManager" class="ca.openosp.openo.managers.LabManagerImpl"></bean>
<bean id="inboxManager" class="ca.openosp.openo.managers.InboxManagerImpl"></bean>
<bean id="appointmentSearchManager" class="ca.openosp.openo.managers.AppointmentSearchManagerImpl"></bean>
<bean id="facilityManager" class="ca.openosp.openo.managers.FacilityManagerImpl"></bean> -->
<!-- <bean id="vacancyTemplateManager" class="service.PMmodule.VacancyTemplateManagerImpl"></bean> -->
 <!-- <bean id="eformDataManager" class="ca.openosp.openo.managers.EformDataManagerImpl"></bean> -->
<!--<bean id="nioFileManager" class="ca.openosp.openo.managers.NioFileManagerImpl"></bean> -->
<!-- <bean id="preventionDS" class="oscar.oscarPrevention.PreventionDSImpl"></bean>
<bean id="integratorProgressDao" class="ca.openosp.openo.common.dao.IntegratorProgressDaoImpl"></bean> -->
<!-- <bean id="messengerDemographicManager" class="ca.openosp.openo.managers.MessengerDemographicManagerImpl"></bean>
<bean id="roomDemographicManager" class="ca.openosp.openo.managers.RoomDemographicManagerImpl"></bean> -->
<!-- <bean id="documentAttachmentManager" class="ca.openosp.openo.documentManager.DocumentAttachmentManagerImpl"></bean> -->
<!-- <bean id="faxDocumentManager" class="ca.openosp.openo.managers.FaxDocumentManagerImpl"></bean> -->






	<!--Email Support -->
        <context:component-scan base-package="ca.openosp.openo.service"/>

        <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" p:corePoolSize="5"
          p:maxPoolSize="10" p:queueCapacity="100" p:waitForTasksToCompleteOnShutdown="true"/>

        <bean id="asyncMailSender" class="ca.openosp.openo.service.AsyncMailSender" autowire="byName">
           <property name="taskExecutor" ref="taskExecutor" />
        </bean>

		<!--
			TODO: This mailing configuration will not be needed anymore as the new email feature (EmailManager)
			will store and fetch configurations directly from the database.
		-->
        <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
            <property name="host" value="${email.host}"/>
            <property name="port" value="${email.port}" />
            <property name="protocol" value="${email.protocol}" />
            <property name="username" value="${email.username}" />
            <property name="password" value="${email.password}" />

            <property name="javaMailProperties">
               <props>
                  <prop key="mail.smtp.auth">${email.smtp.auth:true}</prop>
                  <prop key="mail.smtp.starttls.enable">${email.starttls.enable:true}</prop>
               </props>
            </property>
        </bean>
		
		<bean id="eventService" class="ca.openosp.openo.event.EventService"/>
		<bean id="applicationEventMulticaster" class="org.springframework.context.event.SimpleApplicationEventMulticaster">  
              <property name="taskExecutor">  
                  <!--  bean class="org.springframework.core.task.SimpleAsyncTaskExecutor"/ -->  
                  <bean class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor"/>
              </property>  
		</bean>
		
<!-- 		
		<task:executor id="taskExecutor" />
		-->
		<task:scheduler id="taskScheduler" />
		
		
</beans>
