<?xml version="1.0" encoding="UTF-8"?>
<!-- <beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"> -->
			
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


	<!-- configure the available measurement flow sheets -->
	<bean id="measurementTemplateFlowSheet" class="ca.openosp.openo.oscarEncounter.oscarMeasurements.MeasurementTemplateFlowSheetConfig">
		<property name="flowSheets">
			<list>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/omdDiabetesFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/hypertensionFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/hivFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/intakeFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/financesFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/identificationFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/housingFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/socialLegalFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/diabetesQueensFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/ckdFlowsheet.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/periodicHealthVisit.xml</value>
				<value>classpath:oscar/oscarEncounter/oscarMeasurements/flowsheets/healthTracker.xml</value>
			</list>
		</property>
	</bean>

	<!-- DAO -->
	<bean id="genericIntakeNodeDAO" class="ca.openosp.openo.PMmodule.dao.GenericIntakeNodeDAOImpl" autowire="byName" />
	<bean id="genericIntakeDAO" class="ca.openosp.openo.PMmodule.dao.GenericIntakeDAOImpl" autowire="byName" />
	<bean id="healthSafetyDao" class="ca.openosp.openo.PMmodule.dao.HealthSafetyDaoImpl" autowire="byName" />
	<bean id="formsDAO" class="ca.openosp.openo.PMmodule.dao.FormsDAOImpl" autowire="byName" />
	<bean id="populationReportDao" class="ca.openosp.openo.common.dao.PopulationReportDaoImpl" autowire="byName" />


	<!-- managers  -->
	<bean id="issueAdminManager" class="org.caisi.service.IssueAdminManager" autowire="byName" />

	<!-- Generic Intake -->
	<bean id="genericIntakeManager" class="ca.openosp.openo.PMmodule.service.GenericIntakeManagerImpl" autowire="byName" />
	<bean id="streetHealthReportManager" class="ca.openosp.openo.PMmodule.service.impl.StreetHealthReportManagerImpl">
		<property name="demographicDao" ref="demographicDao" />
		<property name="genericIntakeManager" ref="genericIntakeManager" />
	</bean>
	<!-- Generic Intake -->
	<bean id="healthSafetyManager" class="ca.openosp.openo.PMmodule.service.HealthSafetyManagerImpl">
		<property name="healthSafetyDao" ref="healthSafetyDao" />
	</bean>

	<bean id="oscarSecurityManager" class="ca.openosp.openo.PMmodule.service.impl.OscarSecurityManagerImpl" autowire="byName" />
	<bean id="formsManagerCaisi" class="ca.openosp.openo.PMmodule.service.impl.FormsManagerImpl" autowire="byName" />
	<bean id="surveyUserManager" class="ca.openosp.openo.survey.service.impl.UserManagerOscar" autowire="byName" />
	<bean id="populationReportManager" class="ca.openosp.openo.common.service.PopulationReportManager" autowire="byName">
		<property name="issueDAO" ref="IssueDAO" />
		<property name="populationReportDao" ref="populationReportDao" />
	</bean>
	<!-- ========================= SCHEDULED JOBS ========================= -->

	 <bean id="scheduledBedProgramDischargeTask" class="ca.openosp.openo.PMmodule.task.BedProgramDischargeTask" autowire="byType">
		<property name="programManager" ref="programManager" />
	</bean>
    <!-- Define the scheduled executor factory bean -->
	<bean id="schedulerBedProgramDischarge" class="org.springframework.scheduling.concurrent.ScheduledExecutorFactoryBean">
		<property name="scheduledExecutorTasks">
			<list>
				<!-- Configure the scheduled task -->
				<bean class="org.springframework.scheduling.concurrent.ScheduledExecutorTask">
					<property name="delay" value="120000" />
					<property name="period" value="3600000" />
					<property name="runnable" ref="scheduledBedProgramDischargeTask" />
				</bean>
			</list>
		</property>
	</bean>

	

	 <bean id="scheduledErProgramDischargeTask" class="ca.openosp.openo.PMmodule.task.ErProgramDischargeTask">
		<property name="admissionManager" ref="admissionManager" />
		<property name="providerManager" ref="providerManager" />
	</bean>
    <!-- Define the scheduled executor factory bean -->
	<bean class="org.springframework.scheduling.concurrent.ScheduledExecutorFactoryBean">
		<property name="scheduledExecutorTasks">
			<list>
				<!-- Configure the scheduled task -->
				<bean class="org.springframework.scheduling.concurrent.ScheduledExecutorTask">
					<property name="delay" value="180000" />
					<property name="period" value="300000" />
					<property name="runnable" ref="scheduledErProgramDischargeTask" />
				</bean>
			</list>
		</property>
	</bean>


	<bean id="scheduledAnonymousClientDischargeTask" class="ca.openosp.openo.PMmodule.task.AnonymousClientDischargeTask" />
    <!-- Define the scheduled executor factory bean -->
    <bean class="org.springframework.scheduling.concurrent.ScheduledExecutorFactoryBean">
        <property name="scheduledExecutorTasks">
            <list>
                <!-- Configure the scheduled task -->
                <bean class="org.springframework.scheduling.concurrent.ScheduledExecutorTask">
                    <property name="delay" value="6000000" />
                    <property name="period" value="3600000" />
                    <property name="runnable" ref="scheduledAnonymousClientDischargeTask" />
                </bean>
            </list>
        </property>
    </bean>


	 <bean id="scheduledOcanSubmissionTask" class="ca.openosp.openo.ocan.task.OcanSubmissionTask">
		<property name="genericIntakeManager" ref="genericIntakeManager" />
		<property name="ocanDataProcessor" ref="ocanDataProcessor" />
		<property name="useTestData" value="true" />
		<property name="testDataPath" value="C:/TEMP/ocan_test" />
	</bean>
    <!-- Define the scheduled executor factory bean -->
	<bean class="org.springframework.scheduling.concurrent.ScheduledExecutorFactoryBean">
		<property name="scheduledExecutorTasks">
			<list>
				<!-- Configure the scheduled task -->
				<bean class="org.springframework.scheduling.concurrent.ScheduledExecutorTask">
					<property name="delay" value="43200000000" />
					<property name="period" value="86400000" />
					<property name="runnable" ref="scheduledOcanSubmissionTask" />
				</bean>
			</list>
		</property>
	</bean>


	<bean id="ocanIarSubmissionTask" class="ca.openosp.openo.ehrutil.OcanIarSubmissionTask" />
    <!-- Define the scheduled executor factory bean -->
    <bean class="org.springframework.scheduling.concurrent.ScheduledExecutorFactoryBean">
        <property name="scheduledExecutorTasks">
            <list>
                <!-- Configure the scheduled task -->
                <bean class="org.springframework.scheduling.concurrent.ScheduledExecutorTask">
                    <property name="delay" value="43200000000" />
                    <property name="period" value="86400000" />
                    <property name="runnable" ref="ocanIarSubmissionTask" />
                </bean>
            </list>
        </property>
    </bean>

	<bean id="schedulerCaisi" class="org.springframework.scheduling.concurrent.ScheduledExecutorFactoryBean">
    <property name="scheduledExecutorTasks">
        <list>
            <bean class="org.springframework.scheduling.concurrent.ScheduledExecutorTask">
                <property name="runnable" ref="scheduledBedProgramDischargeTask" />
            </bean>
            <bean class="org.springframework.scheduling.concurrent.ScheduledExecutorTask">
                <property name="runnable" ref="scheduledAnonymousClientDischargeTask" />
            </bean>
            <bean class="org.springframework.scheduling.concurrent.ScheduledExecutorTask">
                <property name="runnable" ref="ocanIarSubmissionTask" />
            </bean>
        </list>
    </property>
</bean>



	<!-- <bean id="schedulerCaisi" class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref bean="scheduledBedProgramDischargeTask" />
				<ref bean="scheduledAnonymousClientDischargeTask" />
				 <ref bean="ocanIarSubmissionTask"/>

				
			</list>
		</property>
	</bean> -->
	<bean id="QuestionTypes" class="ca.openosp.openo.survey.model.QuestionTypes" scope="singleton" />
	<!--
		<bean id="UCRConfigurationManager" class="ca.openosp.openo.PMmodule.ehrweb.reports.custom.UCRConfigurationManager"> <property name="filename"> <value>ca/openosp/openo/PMmodule/ehrweb/reports/custom/test.xml</value> </property> </bean>
	-->


	<!-- DATIS Intake Exporter -->
	<bean id="agencyInformationValidator" class="ca.openosp.openo.PMmodule.exporter.DATISAgencyInformationValidator" scope="prototype" />
	<bean id="gamingFormValidator" class="ca.openosp.openo.PMmodule.exporter.DATISGamingFormValidator" scope="prototype" />
	<bean id="listOfProgramsValidator" class="ca.openosp.openo.PMmodule.exporter.DATISListOfProgramsValidator" scope="prototype" />
	<bean id="mainValidator" class="ca.openosp.openo.PMmodule.exporter.DATISMainValidator" scope="prototype" />
	<bean id="nonClientServiceValidator" class="ca.openosp.openo.PMmodule.exporter.DATISNonClientServiceValidator" scope="prototype" />
	<bean id="programInformationValidator" class="ca.openosp.openo.PMmodule.exporter.DATISProgramInformationValidator" scope="prototype" />

	<bean id="abstractIntakeExporter" abstract="true" class="ca.openosp.openo.PMmodule.exporter.AbstractIntakeExporter" >
		<property name="genericIntakeManager" ref="genericIntakeManager"></property>
	</bean>
	<bean id="intakeExporterAgencyInformation" class="ca.openosp.openo.PMmodule.exporter.DATISAgencyInformation" parent="abstractIntakeExporter" scope="prototype">
		<property name="fieldsFile" value="/ca/openosp/openo/PMmodule/exporter/agencyinformation.xml"></property>
		<property name="validator" ref="agencyInformationValidator"></property>
	</bean>
	<bean id="intakeExporterListOfPrograms" class="ca.openosp.openo.PMmodule.exporter.DATISListOfPrograms" parent="abstractIntakeExporter" scope="prototype">
		<property name="fieldsFile" value="/ca/openosp/openo/PMmodule/exporter/listofprograms.xml"></property>
		<property name="validator" ref="listOfProgramsValidator"></property>
	</bean>
	<bean id="intakeExporterMain" class="ca.openosp.openo.PMmodule.exporter.DATISMain" parent="abstractIntakeExporter" scope="prototype">
		<property name="fieldsFile" value="/ca/openosp/openo/PMmodule/exporter/main.xml"></property>
		<property name="validator" ref="mainValidator"></property>
	</bean>
	<bean id="intakeExporterProgramInformation" class="ca.openosp.openo.PMmodule.exporter.DATISProgramInformation" parent="abstractIntakeExporter" scope="prototype">
		<property name="fieldsFile" value="/ca/openosp/openo/PMmodule/exporter/programinformation.xml"></property>
		<property name="validator" ref="programInformationValidator"></property>
	</bean>
	<bean id="intakeExporterGamblingForm" class="ca.openosp.openo.PMmodule.exporter.DATISGamingForm" parent="abstractIntakeExporter" scope="prototype">
		<property name="fieldsFile" value="/ca/openosp/openo/PMmodule/exporter/gamblingform.xml"></property>
		<property name="validator" ref="gamingFormValidator"></property>
	</bean>
	<bean id="intakeExporterNonClientService" class="ca.openosp.openo.PMmodule.exporter.DATISNonClientService" parent="abstractIntakeExporter" scope="prototype">
		<property name="fieldsFile" value="/ca/openosp/openo/PMmodule/exporter/nonclientservice.xml"></property>
		<property name="validator" ref="nonClientServiceValidator"></property>
	</bean>

	<context:component-scan base-package="ca.openosp.openo.PMmodule.dao" />
	<context:component-scan base-package="ca.openosp.openo.PMmodule.service" />
	<context:component-scan base-package="ca.openosp.openo.PMmodule.web.admin" />
</beans>
