<?xml version="1.0" encoding="UTF-8"?>
<server>
	<misc>
		<ws_client_connection_timeout_ms>15000</ws_client_connection_timeout_ms>
		<ws_client_receive_timeout_ms>15000</ws_client_receive_timeout_ms>
		<ws_client_port_cache_size>64</ws_client_port_cache_size>
		<ws_client_port_cache_time_ms>3600000</ws_client_port_cache_time_ms>
		<!-- this setting will allow all ssl certificates including self signed one -->
		<allow_all_ssl_certificates>true</allow_all_ssl_certificates>
		<ws_client_ssl_protocol>TLS</ws_client_ssl_protocol>
	</misc>
</server>
