
table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}

table#addDemographicTbl {
    width: 100%;
    padding: 0;
    margin: 0 !important;
}

table#addDemographicTbl tr, table#addDemographicTbl tr td table#waitingListTable tr {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}

table#addDemographicTbl tr td, table#addDemographicTbl tr td table#waitingListTable tr td {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin: 0 !important;
}

table#addDemographicTbl tr td input, table#addDemographicTbl tr td select, table#addDemographicTbl tr td textarea {
    width: 100% !important;
}

table#addDemographicTbl tr td b, table#addDemographicTbl tr td strong, .alignRight {
    text-indent: 5px
}

table#addDemographicTbl tr:nth-of-type(odd) {
    background-color: white;
}

body {
    font-family: Verdana, Tahoma, Arial, sans-serif;
}

table {
    border: #CCCCFF thin solid;
    padding: 3pt;
    font-size: x-small;
}

table:first-child td {
    padding-left: 3pt;
    border: none;
}

table td.RowTop, div.title, table th.subject {
    font-size: small;
}


form[name='titlesearch'] {
    margin: 6pt 0;
}

form[name='titlesearch'] div.title, form[name='titlesearch'] div.createNew {
    padding-left: 7pt;
    padding-top: 3pt;
    padding-bottom: 0;
    font-size: small;

}

form[name='titlesearch'] li {
    font-size: small;
}